# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# For local SQLite, use this one
# On prisma.schema file, on datasource, you should config: provider = "sqlite"
DATABASE_URL="file:./dev.db"


# For PostgreSQL on Neon.tech, use this one
# On prisma.schema file, on datasource, you should config: provider = "postgresql"
# DATABASE_URL=[YOUR_Connection_String - visit neon.tech to get your db dev branch]

# JWT variables
JWT_SECRET=my_big_secret
JWT_REFRESH_SECRET=my_big_refresh_secret


# Google OAuth variables
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret


# Google OAuth Redirect Address
# This URL is where users will be redirected after successful authentication with Google.
# for your local environment:
GOOGLE_REDIRECT_ADDRESS=http://localhost:5173/home

NODE_ENV=development # production